/* src/components/JourneyList/JourneyList.module.css */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
